<!--<div class="row">
    <div class="col-12">
        <div class="card-block" [ngSwitch]="isLoggedIn()">
          <button (click)="formVisible=true" class="btn float-right" style="margin-bottom: 10px;color:white ;background-color: rgb(83, 83, 87);"
            *ngSwitchCase="true">Vložiť</button>
          <a routerLink="/login" class="btn float-right" style="margin-bottom: 10px; color:white ;background-color: rgb(83, 83, 87);"
          *ngSwitchDefault>Vložiť hodnotenie </a>
          </div>
    </div>
</div>-->


<div *ngIf="formVisible">
  <form (ngSubmit)="onRateSubmit()">
    <h4>Pridaj hodnotenia</h4>
    <div class="form-group row">
      <label for="rating" class="col-sm-3 col-form-label">Náročnosť</label>
      <div class="col-sm-9 col-md-3">
          <select [(ngModel)]="newRating.rating" id="rating" name="rating" class="form-control">
            <option [ngValue]="5">5</option>
            <option [ngValue]="4">4</option>
            <option [ngValue]="3">3</option>
            <option [ngValue]="2">2</option>
            <option [ngValue]="1">1</option>
          </select>
        </div>
    </div>
    <div class="form-group row">
      <label for="rating" class="col-sm-3 col-form-label">Kvalita</label>
      <div class="col-sm-9 col-md-3">
          <select [(ngModel)]="newRating.ratingQ" id="ratingQ" name="rating" class="form-control">
            <option [ngValue]="5">5</option>
            <option [ngValue]="4">4</option>
            <option [ngValue]="3">3</option>
            <option [ngValue]="2">2</option>
            <option [ngValue]="1">1</option>
          </select>
        </div>
    </div>
    <div class="form-group row">
      <label for="rating" class="col-sm-3 col-form-label">Vzhľad</label>
      <div class="col-sm-9 col-md-3">
          <select [(ngModel)]="newRating.ratingL" id="ratingL" name="rating" class="form-control">
            <option [ngValue]="5">5</option>
            <option [ngValue]="4">4</option>
            <option [ngValue]="3">3</option>
            <option [ngValue]="2">2</option>
            <option [ngValue]="1">1</option>
          </select>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-12">
          <button type="submit" class="btn btn-primary float-right"
          style="margin-left:15px">Vložiť hodnotenie</button>
          <button (click)="formVisible=false" type="button" class="btn btn-default float-
          right">Zrušiť</button>
        </div>
      </div>
  </form>
</div>

<div>
  <app-overview></app-overview>
</div>

<!--<div style="background-color:blueviolet; height: 30%;">
  <app-comments></app-comments>
</div>-->
<div class="container-fluid">
  <div class="row">
      <div class="col-3 d-none d-lg-block col-offset-5  coloverlay bg-custom">
          <app-comments></app-comments>
      </div>
  </div>
</div>
