<nav class="navbar fixed-top navbar-expand-md navbar-light">
  <div class="container">
    <a href="/" class="navbar-brand">Loc8r</a>
    <button type="button" data-toggle="collapse" data-target="#navbarMain" class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarMain" class="navbar-collapse collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a href="/" class="nav-link">Loc8r</a>
        </li>
        <li class="nav-item">
          <a href="/about"  class="nav-link">About</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
      </ul>
      <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="glyphicon glyphicon-user"></span>
              Sign Up
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <span class="glyphicon glyphicon-log-in"></span>
              Login
            </a>
          </li>
        </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <app-pdf-page-view></app-pdf-page-view>
</div>


