<div class="d-flex flex-row bg-custom">
  <div class="p-2">
      <img src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" alt="" />
  </div>
  <div class="p-2">
      <div class="d-flex flex-column flex-wrap name">
          <h6 class="m-0" style="color: black;font-weight: bold;">
              {{comment.userID}}
          </h6>
          <span class="details" style="color: black;">
              {{comment.commentText}}
          </span>
      </div>
  </div>

</div>
