<div class="row">
    <div class="col-12 col-md-6">
      Hodnotienie:
      <app-rating-stars [rating]="pageContent.rating"></app-rating-stars>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
      Počet hodnotení: {{pageContent.rating}}
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
      Počet koémentárov: 2
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
      Počet otázok: 1
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
      Počet testových otázok: 2
    </div>
</div>
