<div class="row">
  <div class="col-12 col-md-6">
    <h1>
      Cislo strany: {{page.pagePdfPosition}}
    </h1>
  </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
      Hodnotienie:
      <app-rating-stars [rating]="page.rating"></app-rating-stars>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
      Počet hodnotení: {{page.ratingN}}
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
      Počet koémentárov: {{page.commentsN}}
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
      Počet otázok: {{page.questionN}}
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6">
      Počet testových otázok: {{page.testN}}
    </div>
</div>
