<div>
<div class="row">
  <div class="col-10">
    <h4>
      Slajd: {{page.pagePdfPosition}}
    </h4>
  </div>
  <!--<div class="ml-auto">
      <button class="btn" style="color: white;">
        <i class="fa fa-arrow-circle-right fa-lg"></i></button>
  </div>-->
</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-8">
    <app-rating-likes [description]="'Náročnosť slajdu'" [ratingType]="page.ratingDifficulty" [size]="'lg'"></app-rating-likes>
  </div>
  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-8">
      <app-rating-likes [description]="'Kvalita slajdu'" [ratingType]="page.ratingQualtiy" [size]="'lg'"></app-rating-likes>
  </div>
  <div class="col-1"></div>
</div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-8">
      <app-rating-likes [description]="'Prehľadnosť slajdu' " [ratingType]="page.ratingLook" [size]="'lg'"></app-rating-likes>
  </div>
  <div class="col-1"></div>
</div>
</div>

