/* You can add global styles to this file, and also import other style files */

$white-color: #fff;

$background-green-color:  #2b4899;

body {
  font-family: "Cabin", Arial, sans-serif;
  color: $white-color;
  background-color: $background-green-color;
}

.framework-content {
  margin-top: 5vh;
}

